---
import "../styles/global.css"
import BaseLayout from "./BaseLayout.astro";

const { title, description } = Astro.props
---

<BaseLayout title={title} description={description} bodyClass="bg-white text-mist-900 dark:bg-mist-900 dark:text-mist-200 transition-colors duration-300 min-h-full">
  <main class={`max-w-275 mx-auto px-4`}>
    <slot />

    <script is:inline src="/scripts/theme-toggle.js"></script>
  </main>
</BaseLayout>
